<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.50.1" targetFramework="net471" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net471" />
  <package id="FluentAssertions" version="5.5.3" targetFramework="net471" />
  <package id="Glass.Mapper.Sc.91" version="5.4.21" targetFramework="net471" />
  <package id="Glass.Mapper.Sc.91.Core" version="5.4.21" targetFramework="net471" />
  <package id="Glass.Mapper.Sc.91.Mvc" version="5.4.21" targetFramework="net471" />
  <package id="Glass.Mapper.Sc.91.WebForms" version="5.4.21" targetFramework="net471" />
  <package id="Moq" version="4.1.1308.2120" targetFramework="net471" />
  <package id="NSubstitute" version="1.8.2.0" targetFramework="net471" />
</packages>