@using Claro.Feature.Blog.Models
@model BlogListViewModel

@if (Model != null && Model.Blogs != null && Model.Blogs.Any())
{
    foreach (BlogViewModel blog in Model.Blogs)
    {
        <div class="col-lg-4 col-md-6 mb-2 wow bounceInUp">
            @Html.Partial("~/Views/Blog/_blog.cshtml", blog)
        </div>
    }
}