<div class="header-middle">
    <div class="container">
        @Html.Sitecore().Placeholder("logo")
        <nav>
            @Html.Sitecore().Placeholder("hamburger-logo")
            @Html.Sitecore().Placeholder("nav-links")
        </nav>
        <div class="menu-mobile"></div>
        @Html.Sitecore().Placeholder("slogan")
    </div>
</div>