<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement" search:require="solr">
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="claro_blog_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="core">claro_blog_index</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <indexAllFields>false</indexAllFields>
                <!-- Included fields -->
                <include hint="list:AddIncludedField">
                  <BlogTitle>{B13291FC-BE7F-4344-8318-82A83F0AF21C}</BlogTitle>
                  <BlogCategory>{EE125AA7-7E10-4DB9-B36F-259C5C08EFF7}</BlogCategory>
                  <BlogIntro>{0F89F034-960D-4F0D-9EDA-3570D064B592}</BlogIntro>
                  <BlogDescription>{3761D754-0C37-4864-95EC-7658DD089B6B}</BlogDescription>
                  <BlogCreated>{F82A2A6C-CF30-478F-9676-46170E5C7746}</BlogCreated>
                  <BlogAuthor>{C7A807AF-F4C0-4294-8CE9-29551C8D7F0D}</BlogAuthor>
                </include>
                <!-- Included templates -->
                <include hint="list:AddIncludedTemplate">
                  <ArticlePage>{3BEC49FB-DF36-4551-86CF-D3C04E58C506}</ArticlePage>
                </include>
                <fields hint="raw:AddComputedIndexField">
                  <field fieldName="blog_categories">Claro.Foundation.Indexing.Infrastructure.Fields.BlogCategoriesComputedField, Claro.Foundation.Indexing</field>
                  <field fieldName="blog_author">Claro.Foundation.Indexing.Infrastructure.Fields.BlogAuthorComputedField, Claro.Foundation.Indexing</field>
                  <field fieldName="blog_categories_text">Claro.Foundation.Indexing.Infrastructure.Fields.BlogCategoriesTextComputedField, Claro.Foundation.Indexing</field>
                </fields>
              </documentOptions>
              <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
                <fieldNames hint="raw:AddFieldByFieldName">
                  <field fieldName="blog_categories" returnType="stringCollection" storageType="no" indexType="TOKENIZED"/>
                  <field fieldName="author" returnType="text" storageType="no" indexType="TOKENIZED"/>
                  <field fieldName="blog_categories_text" returnType="text" storageType="no" indexType="TOKENIZED"/>
                </fieldNames>
              </fieldMap>
            </configuration>
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/USClaroBlog/Home/Blogs</Root>
              </crawler>
            </locations>
            <enableItemLanguageFallback>false</enableItemLanguageFallback>
            <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>