@using Claro.Feature.Blog
@{
    string category = Server.UrlDecode(System.Web.HttpContext.Current.Request.QueryString[Constants.categoryQueryString]);
}
<div class="row">
    <div class="col-md-12 text-center">
        <h2 class="mb-4">@category</h2>
    </div>
</div>
