<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="usClaroBlog" patch:after="site[@name='modules_website']"
            targetHostName="blog.usclaro.com"
            database="web"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content/usClaroBlog"
            startItem="/Home"
            domain="extranet"
            allowDebug="true" />
    </sites>
  </sitecore>
</configuration>
