#scroll {
	text-align:center;
	position: fixed;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
	padding: 5px 5px;
	background-color: #EF3829;
	display: none;
	-webkit-border-radius:  0px 0px 7px 7px;
	-moz-border-radius:  0px 0px 7px 7px;
	border-radius:  0px 0px 7px 7px;
	z-index: 2;
}

a#scroll img {
    width: 70%;
}
#scroll:hover {
	background-color: #e74c3c;
	opacity: 1;
	filter: "alpha(opacity=100)";
	-ms-filter: "alpha(opacity=100)";
}
.fa-arrow-to-top:before {
	content: "\f341";
}
