<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting  name="FacebookAppId" value="299745210740921" />
      <setting name="FacebookAppSecret" value="1983552ac47c574e9927fa2231a62c74" />
      <setting name="GoogleClientId" value="444533759211-aa3u1d8771j6uh1574n77eftt1a6cuc0.apps.googleusercontent.com" />
      <setting name="GoogleClientSecret" value="UvQnU-rDa2nPNdEuS2wQJ0Le" />
      <setting name="LinkedInClientId" value="772m0broqebf32" />
      <setting name="LinkedInClientSecret" value="Hd7OAJUZ6wtaTF1Y" />
      <setting name="SitecoreUser" value="sitecore\admin"/>
    </settings>
    <services>
      <configurator type="Claro.Feature.Blog.DI.RegisterContainer, Claro.Feature.Blog" />
    </services>
  </sitecore>
</configuration>