<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration
          name="Feature.Blog"
          description="Feature Blog"
          patch:after="configuration[@name='Foundation.Serialization']"
          extends="Helix.Base">
          <predicate>
            <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
            <include name="$(layer).$(module).Renderings" database="master" path="/sitecore/layout/renderings/$(layer)/$(module)" />
            <include name="Claro.Comment.Workflow" database="master" path="/sitecore/system/Workflows/Claro Comment Workflow" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
