<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration
          name="Foundation.Extension"
          description="Foundation Extension"
          patch:after="configuration[@name='Foundation.Serialization']"
          extends="Helix.Base">
          <predicate>
            <include name="MultilineLimitedText" database="core" path="/sitecore/system/Field types/Simple Types/Multi-Line Limited Text" />
            <include naem="SinglelineLimitedText" database="core" path="/sitecore/system/Field types/Simple Types/Single-Line Limited Text"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
