<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration
          name="Project.Common"
          description="Claro Blog Site"
          dependencies="Foundation.Control,Foundation.Dictionary,Feature.Blog,Feature.Identity,Feature.Navigation,Feature.Social,Feature.Subscribe,Feature.Teaser"
          patch:after="configuration[@name='Foundation.Serialization']"
          extends="Helix.Base">
          <predicate>
            <include name="Common.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Project/Common" />
            <include name="Common.DataTemplates" database="master" path="/sitecore/templates/Project/Common" />           
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
